$b-radius: 0.313rem;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95dvb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: $b-radius;
  box-shadow: 0 1px 2px #000;
  font-size: 1.25rem;
}

hr {
  width: 100%;
  border: 1px solid #fff;
}

header {
  display: flex;
  align-items: center;
  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .title__icon {
    width: 3.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
}

@keyframes bg-blink-effect {
  0% { 
    background-color: transparent; 
    color: inherit;
  }
  50% { 
    background-color: #BB2D3C;
    color: white;
  }  
  100% { 
    background-color: transparent; 
    color: inherit;
  } 
}

main {
  margin-bottom: 0.25rem;
  .min_input {
    .min-label {
      font-size: 1.25rem;
    }
  }
  .stopwatcher {
    font-size: 3.938rem;
    padding: 0 1rem; 
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }

  .alert_bg {
    animation: bg-blink-effect 1.5s ease-in-out infinite;
  }

  .fail_bg {
    animation: none;
    background-color: #cdcdcd;
  }
}

footer {
  p {
    margin: 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  :host {
    justify-content: start;
  }

  header {
    .title {
      font-size: 2.5rem;
    }
  }

  main {
    max-width: 46.125rem;
    height: 100%;
    .min_input {
      padding: 0.75rem 1rem 0;
      display: flex;
      .min-label {
        font-size: 2rem;
      }
      input {
        width: 4.75rem;
        height: 4.75rem;
        font-size: 2rem;
      }
    }
    hr {
        margin: 0;
      }
    .stopwatcher {
      margin-top: 1.125rem;
      font-size: 5rem;
    }
    .btn {
      font-size: 2rem !important;
    }
  }
}